
<header>
  <div class="logo-header">
      <a href="./index.html">YachtJet</a>
  </div>
  <div class="menu-toggle">
      <button class="header-button" type="button">
          <svg class="header-svg" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.5 17.5H24.5M3.5 10.5H24.5" stroke="#1B414B" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
      </button>
  </div>
  <nav class="main-menu">
      <ul class="header-ul">
          <li class="header-li"><a href="#about-us" class="header-a nav-link about-button">About</a></li>
          <li class="header-li"><a href="#section-yachts" class="header-a nav-link yachts-button">Yachts</a></li>
          <li class="header-li"><a href="#section-reviews" class="header-a nav-link reviews-button">Reviews</a></li>
      </ul>
  </nav>
  <div class="social-icons">
      <ul class="nav-header">
          <li class="header-li">
              <a class="header-aa" href="https://www.instagram.com/goitclub/">
                  <svg class="header-svg" width="19" height="19">
                      <use href="./img/sprite.svg#icon-instagram"></use>
                  </svg>
              </a>
          </li>
          <li class="header-li">
              <a class="header-aa" href="https://www.youtube.com/c/GoIT">
                  <svg class="header-svg" width="19" height="19">
                      <use href="./img/sprite.svg#icon-youtube"></use>
                  </svg>
              </a>
          </li>
          <li class="header-li">
              <a class="header-aa" href="https://www.facebook.com/goITclub/">
                  <svg class="header-svg" width="19" height="19">
                      <use href="./img/sprite.svg#icon-facebook"></use>
                  </svg>
              </a>
          </li>
      </ul>
  </div>
 
    <div class="modal " >
      <div class="modal-header">
        <span class="logo-modal">yachtjet</span>
        <button type="button" class="modal-close-btn">
          <svg width="16" height="16" class="modal-close-icon">
            <use href="./img/sprite.svg#icon-cross"></use>
          </svg>
        </button>
      </div>
      <div class="menu-modal " >
       
          <a class="header-a nav-link about-button" href="#about-us">About</a>
     
   
          <a class="header-a nav-link yachts-button" href="#section-yachts">Yachts</a>
    
       
          <a class="header-a nav-link reviews-button" href="#section-reviews">Reviews</a>
   
      </div>
      <div class="social-icons-modal" >
        <div class="social-icon-modal" >
          <a href="https://www.instagram.com/goitclub/">
            <svg class="modal-svg" width="19" height="19">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </div>
        <div class="social-icon-modal">
          <a href="https://www.youtube.com/c/GoIT">
            <svg class="modal-svg" width="19" height="19">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </div>
        <div class="social-icon-modal" >
          <a href="https://www.facebook.com/goITclub/">
            <svg class="modal-svg" width="19" height="19">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
 
</header>
