<section class="section section-yachts" id="section-yachts">
  <div class="container">
    <h2 class="title yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>

    <ul class="list-yachts">
      <li class="yachts-item-yacht">
        <picture>
          <source
            srcset="
              ./img/yahts/yahts-mobile-1-1.jpg 1x,
              ./img/yahts/yahts-mobile-1-2.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/yahts/yahts-tablet-1-1.jpg 1x,
              ./img/yahts/yahts-tablet-1-2.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1280px)"
          />
          <source
            srcset="
              ./img/yahts/yahts-desktop-1-1.jpg 1x,
              ./img/yahts/yahts-desktop-1-1.jpg 2x
            "
            media="(min-width: 1280px) and (max-width: 1440px)"
          />

          <source
            srcset="
              ./img/yahts/yahts-big-desktop-1-1.jpg 1x,
              ./img/yahts/yahts-big-desktop-1-1.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <img
            src="../img/yahts/yahts-big-desktop-1-1.jpg"
            alt="small yaht in the see near the shore"
            width="360"
            height="268"
          />
        </picture>

        <div class="yahts-text-container">
          <div class="yahts-parameters-container">
            <h3 class="subtitle yachts-subtitle">Arrow</h3>
            <ul class="yahts-list-parameters">
              <li><p class="yachts-item-parameter">LENGTH</p></li>
              <li><p class="yachts-item-parameter">BUILDER</p></li>
              <li><p class="yachts-item-parameter">BUILT</p></li>
              <li><p class="yachts-item-parameter">GUESTS</p></li>
              <li><p class="yachts-item-parameter">PRICE</p></li>
            </ul>
          </div>

          <div class="yahts-values-container">
            <p class="yachts-text-type">LUXURY YAHTS</p>
            <ul class="yahts-list-values">
              <li><p class="yachts-item-value">48m(155ft)</p></li>
              <li><p class="yachts-item-value">Admiral</p></li>
              <li><p class="yachts-item-value">2021</p></li>
              <li><p class="yachts-item-value">11 in 5 cabins</p></li>
              <li><p class="yachts-item-value">€33,500,000</p></li>
            </ul>
          </div>
        </div>
      </li>

      <li class="yachts-item-yacht">
        <picture>
          <source
            srcset="
              ./img/yahts/yahts-mobile-2-1.jpg 1x,
              ./img/yahts/yahts-mobile-2-2.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/yahts/yahts-tablet-2-1.jpg 1x,
              ./img/yahts/yahts-tablet-2-2.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1280px)"
          />
          <source
            srcset="
              ./img/yahts/yahts-desktop-2-1.jpg 1x,
              ./img/yahts/yahts-desktop-2-2.jpg 2x
            "
            media="(min-width: 1280px) and (max-width: 1440px)"
          />

          <source
            srcset="
              ./img/yahts/yahts-big-desktop-2-1.jpg 1x,
              ./img/yahts/yahts-big-desktop-2-2.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <img
            src="./img/yahts/yahts-big-desktop-2-1.jpg"
            alt="big yaht in the see"
            width="360"
            height="268"
          />
        </picture>

        <div class="yahts-text-container">
          <div class="yahts-parameters-container">
            <h3 class="subtitle yachts-subtitle">BENETTI OASIS 40M BO122</h3>
            <ul class="yahts-list-parameters">
              <li><p class="yachts-item-parameter">LENGTH</p></li>
              <li><p class="yachts-item-parameter">BUILDER</p></li>
              <li><p class="yachts-item-parameter">BUILT</p></li>
              <li><p class="yachts-item-parameter">GUESTS</p></li>
              <li><p class="yachts-item-parameter">PRICE</p></li>
            </ul>
          </div>

          <div class="yahts-values-container">
            <p class="yachts-text-type">LUXURY YAHTS</p>
            <ul class="yahts-list-values">
              <li><p class="yachts-item-value">41m (133ft)</p></li>
              <li><p class="yachts-item-value">Benetti</p></li>
              <li><p class="yachts-item-value">2025</p></li>
              <li><p class="yachts-item-value">10 in 5 cabins</p></li>
              <li><p class="yachts-item-value">€23,210,000</p></li>
            </ul>
          </div>
        </div>

      </li>
      <li class="yachts-item-yacht">
        <picture>
          <source
            srcset="
              ./img/yahts/yahts-mobile-1-1.jpg 1x,
              ./img/yahts/yahts-mobile-1-2.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/yahts/yahts-tablet-2-1.jpg 1x,
              ./img/yahts/yahts-tablet-2-2.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1280px)"
          />
          <source
            srcset="
              ./img/yahts/yahts-desktop-3-1.jpg 1x,
              ./img/yahts/yahts-desktop-3-2.jpg 2x
            "
            media="(min-width: 1280px) and (max-width: 1440px)"
          />

          <source
            srcset="
              ./img/yahts/yahts-big-desktop-3-1.jpg 1x,
              ./img/yahts/yahts-big-desktop-3-2.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <img
            src="./img/yahts/yahts-big-desktop-3-1.jpg"
            alt="small modern yaht in the see"
            width="360"
            height="268"
          />
        </picture>

        <div class="yahts-text-container">
          <div class="yahts-parameters-container">
            <h3 class="subtitle yachts-subtitle">BELLE ANNA</h3>
            <ul class="yahts-list-parameters">
              <li><p class="yachts-item-parameter">LENGTH</p></li>
              <li><p class="yachts-item-parameter">BUILDER</p></li>
              <li><p class="yachts-item-parameter">BUILT</p></li>
              <li><p class="yachts-item-parameter">GUESTS</p></li>
              <li><p class="yachts-item-parameter">PRICE</p></li>
            </ul>
          </div>

          <div class="yahts-values-container">
            <p class="yachts-text-type">LUXURY YAHTS</p>
            <ul class="yahts-list-values">
              <li><p class="yachts-item-value">50m(155ft)</p></li>
              <li><p class="yachts-item-value">ISA</p></li>
              <li><p class="yachts-item-value">2012</p></li>
              <li><p class="yachts-item-value">12 in 6 cabins</p></li>
              <li><p class="yachts-item-value">€21,000,000</p></li>
            </ul>
          </div>
        </div>

      </li>
    </ul>
    <a class="yahts-btn-link" href="#section-rents">Yacht rental</a>
  </div>
</section>
