/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 365px;
  padding-inline: 15px;
  margin-inline: auto;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 734px;
    padding-inline: 15px;
    margin-inline: auto;
  
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1210px;
    padding-inline: 15px;
    margin-inline: auto;
  
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 100%;
    max-width: 1370px;
    padding-inline: 15px;
    margin-inline: auto;
  
  }
}